.idea/*
*/.gdb_history
*/peda-session*.txt
shellphish-afl/
binaries/
archinfo/
cle/
celery/
shellphish-qemu/
test/control_flow/control_dependency
test/data_flow/data_flow
test/data_flow1/data_flow
cgc/urldir/cgc-linux-dev.box
cgc/samples-master/
cgc/.vagrant/
*/data_flow
*/.gdb_history
test/read_two/two_read
*/hello
*.input
test/read_two/read_two
test/while_test1/while_test