.idea/*
shellphish-afl/
binaries/
archinfo/
cle/
celery/
shellphish-qemu/
test/control_flow/control_dependency
test/data_flow/data_flow
test/data_flow1/data_flow
cgc/urldir/cgc-linux-dev.box
cgc/samples-master/
cgc/.vagrant/
